* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4ede7;
}

.topnav {
  overflow: hidden;
  background-color: #fae0c5;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #bea28a;
}

.topnav a {
  font-family: 'Paprika', cursive;
  color: #63380d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:last-child {
  margin-right: 20px;
}


.navbar-flexbox {
  display: flex;
  align-items: center;
  height: auto;
}

.navbar-logo {
  float: left !important;
}

.topnav a:hover {
  background-color: #fae0c5;
  color: black;
}

.topnav a.active {
  background-color: #fff1d7;
  color: white;
  margin: 5px 0px 5px 15px;
  border-radius: 60px;
  padding: 5px 6px;
}

.topnav .icon {
  display: none;
}

.navbar-responsive-a {
  opacity: 0;
  background-color: #fae0c5;
  transition-timing-function: ease-in-out .5s;
}

.navbar-responsive-item {
  margin: 15px;
}

.navbar-responsive-item:last-child {
  margin-bottom: 20px;
}

.navbar-responsive-item {
  font-family: 'Paprika', cursive;
  color: #63380d;
  text-decoration: none;
}

.navbar-responsive-item a:active {
  font-weight: 700;
}


.responsive {
  display: flex;
  opacity: 1;
  transition: ease-in-out .3s;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 800px) {
  .navbar-flexbox {
    display: none;
  }

  /*.topnav a:not(:first-child) {display: none;}*/
  .topnav a.icon {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;

  }


  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar-logo-img {
  width: auto;
  height: 40px;
}

.section-home {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-home-buttons {

  width: 40%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-home-image {

  width: 40%;
  height: 70vh;
}

.section-home-image img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.section-home-buttons h3 {
  font-family: 'Oregano', cursive;
  color: #63380d;
  font-size: 70px;
  margin: 40px 20px;
}

.section-home-buttons p {
  font-family: 'Paprika', cursive;
  color: #b88141;
  font-size: 25px;
  margin: 40px 0px;
}

.section-home-buttons-container {
  display: flex;

}

.call-to-action {
  background-color: #d68327;
  color: #f4ede7;
  border: 2px solid #f4ede7;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Paprika', cursive;
  border-radius: 30px;
  margin: 0px 15px;
}

.call-to-action:hover {
  background-color: #f4ede7;
  color: #d68327;
  border: 2px solid #d68327;
  transition: ease-in-out .25s;

}

.learn-more {
  background-color: #f4ede7;
  color: #d68327;
  border: 2px solid #d68327;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Paprika', cursive;
  border-radius: 30px;
}

.learn-more:hover {
  background-color: #d68327;
  color: #f4ede7;
  border: 2px solid #f4ede7;
  transition: ease-in-out .25s;
}

.section-products {
  border-bottom: 2px solid #bea28a;
  border-top: 2px solid #bea28a;
  width: 100%;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  clear: both;
}

.section-products h2 {
  font-family: 'Oregano', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  color: #63380d;
}

.section-products-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #ffd8ad;
  width: 20%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 1px 5px 5px 3px rgba(158, 158, 158, 1);
  -moz-box-shadow: 1px 5px 5px 3px rgba(158, 158, 158, 1);
  box-shadow: 1px 5px 5px 3px rgba(158, 158, 158, 1);
}

.card h5 {
  font-family: 'Oregano', cursive;
  color: #63380d;
  font-size: 30px;

}

.card p {
  font-family: 'Paprika', cursive;
  color: #b88141;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.card img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.card-icon {
  background-color: white;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card i {
  font-size: 40px;
  text-align: center;
  color: #ae3a13;

}

@media screen and (max-width: 800px) {

  .section-home-buttons {
    width: 100% !important;
    margin: 20px 50px;

  }

  .section-home-image {
    width: 100% !important;
    margin: 0 50px 50px 50px;

  }

  .card {
    width: 60% !important;
    margin: 50px 0px;
  }

  .dummy {
    width: 0 !important;
  }

  .box {
    width: 60% !important;
  }

  .box-icon-left {
    display: none !important;
  }

  .box-icon-right {
    display: none !important;
  }

  .container {
    width: 60% !important;
  }

  .dummy-v2 {
    width: 0 !important;
  }

  .set {
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }

  .contact-info-container {
    width: 60% !important;
  }



  .contact-map-container {
    width: 400px !important;
    height: auto !important;
  }

  .contact-info-details {
    width: 100% !important;
    margin: 50px;
  }

  .contact-info-details-container {
    flex-wrap: wrap;
  }

}

.section-testimonials {
  width: 100%;
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-testimonials h2 {
  font-family: 'Oregano', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  color: #63380d;
  text-align: center;
}

.section-testimonials-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dummy {
  width: 50px;
}

.icon-arrow {
  font-size: 30px;
}

.box {
  background-color: white;
  width: 367px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid #d68327;
  border-radius: 13px;
}

.box p {
  font-family: 'Paprika', cursive;
  color: #b88141;
  font-size: 20px;
  text-align: center;
  padding: 21px;
  margin-top: revert;
}

.box h3 {
  font-family: 'Oregano', cursive;
  color: #63380d;
}

.box i {
  font-size: 40px;
  text-align: center;
  color: #63380d;
}

.box-icon-user {
  background-color: #ffd8ad;
  width: 20%;
  border-radius: 200px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.section-form {
  border-bottom: 2px solid #bea28a;
  border-top: 2px solid #bea28a;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  clear: both;
}

.section-form h2 {
  font-family: 'Oregano', cursive;
  color: #63380d;
}

.container {
  background-color: #fff1d7;
  width: 750px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container label {
  margin: 5px 10px 5px 0;
  font-family: 'Oregano', cursive;
}

.container input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #d68327;
  border-radius: 10px;
}

.container input::placeholder {
  color: #d68327;

}

.container button {
  padding: 10px 20px;
  background-color: #7b4811;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
}

.container label {
  font-weight: 500;
  color: #7b4811;
}

.container button:hover {
  background-color: black;
}

@media (max-width: 800px) {
  .container input {
    width: 75%;
    margin: 10px 0;
  }

  .section-form h2 {
    margin-bottom: 20px !important;
  }

  .set-checkbox {}

  .container {
    min-height: 80vh !important;
    width: 90% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

}

.name {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.review {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.form-element {
  width: 300px;
  margin: 0 7px;
}

.set-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy-v2 {
  width: 310px;
}

.section-contact {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact-info-container {
  width: 50%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column;

}

.contact-map-container {
  width: 50%;
  height: 90vh;

}

.contact-map-container img {
  width: -webkit-fill-available;
  height: 100%;

}

.contact-info-container h5 {
  font-family: 'Oregano', cursive;
  color: #63380d;
  font-size: 40px;
  margin: 40px 20px;
}

.contact-info-details-container {

  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-info-icon-container {
  display: flex;
  align-items: center;
  margin: 15px;
}

.contact-info-icon-container i {
  margin-left: 10px;
  background-color: #ffd8ad;
  padding: 5px;
  border-radius: 50px;
}

.contact-info-container p:first-child {
  margin: 10px;
  font-family: 'Paprika', cursive;
  color: #63380d;

}


.contact-info-icon-details {
  margin-left: 10px;
  font-family: 'Oregano', cursive;
  color: #ffd8ad;
  font-size: 25px;
}

.contact-info-container-header {
  margin-left: 65px;
}

.section-footer {
  border-top: 2px solid #bea28a;
  background-color: #fae0c5;
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}

.section-footer img {
  width: auto;
  height: 50px;
}

.section-footer-copyright {
  margin: 10px 0;
  font-family: 'Oregano', cursive;
  color: #63380d;
  font-size: 27px;
}

.fab {
  margin: 10px;
  font-size: 25px;
  color: #63380d;
}